*{
    margin: 20px auto;
}
body {
    background-color: lightgray;
}
.flex_container {
    display: block;
    justify-content: center;
}
.container {
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    height: 70%;
    text-align: center;
    display: block;
    background-color: cornflowerblue;
    box-shadow: 7px 5px gray;
}
.container h1 {
    display: block;
    text-align: center;
}

.choices{
    display: block;
    width: 280px;
    
    
}

h3{
    margin: 4px;
}

form{
    display: inline-block;
}


.rock{
    margin-left: 60px;
}
.scissors{
    margin-right: 50px;
}